### Module 1: Python Programming (Foundations) â€“ In Depth

#### Lesson 1.1: Hello World, Variables, and Data Types

Printing output with print().

Variables: storing data (string, int, float, bool).

Data types: understanding type conversions and operations.

Example 1: Print statement

In [1]:
print("Hello, I'm Thrisha Rajkumar, MSc in Data Science")

Hello, I'm Thrisha Rajkumar, MSc in Data Science

Example 2: Variables

In [2]:
# different types of variables 

name = "Thrisha Rajkumar" #string
age = 22 #integer
height = 5.7 # float
is_student = False #boolean 

#print variables
print("Name", name)
print("Age:", age)
print("Height:", height)
print("Student Status:", is_student)

Name Thrisha Rajkumar
Age: 22
Height: 5.7
Student Status: False

Exercise: Create variables for your city, country, and whether you are currently learning Python. Print them.

In [3]:
city = "London" #string
country = "United Kingdom" #string
is_learning_python = True #boolean

print("City:", city)
print("Country:", country)
print("Is Learning Python:", is_learning_python)

City: London
Country: United Kingdom
Is Learning Python: True

Lesson 1.2: Numbers and Arithmetic Operations

In [5]:
a = 15
b = 4

print("Addition:", a+b)
print("Subtraction:", a-b)
print("Multiplication:", a*b)
print("Division:", a/b)
print("Floor Division:", a//b)
print("Remainder:", a%b)
print("Exponent:", a**b)

#Type Covenversion
num_str ="100"
num_int = int(num_str)
print("Converted number + 50:", num_int + 50)

Addition: 19
Subtraction: 11
Multiplication: 60
Division: 3.75
Floor Division: 3
Remainder: 3
Exponent: 50625
Converted number + 50: 150

Use Case: Financial calculations, unit conversions, or algorithmic computations.

Exercise: Calculate compound interest for principal=1000, rate=5%, time=3 years.

In [9]:
# Compound interest caculation
principal = 1000 # initial amount
rate = 5 #annual interest rate in percentage 
time = 3 # time in years 

amount = principal * (1+ rate/100)** time
compound_interest = amount - principal

print("Compound Interest:", f"{compound_interest:.2f}")

Compound Interest: 157.63

Lesson 1.3: Strings and String Functions
Strings can be manipulated: slicing, concatenation, formatting.
Useful functions: len(), .upper(), .lower(), .replace(), .split(), .strip().

In [10]:
text = "Hello Data Science"
print("Length:", len(text))
print("Uppercase:", text.upper())
print("Lowercase:", text.lower())
print("Replace 'Data' with 'Python:", text.replace("Data", "Python"))
print("Split words:", text.split())
print("Slice (first 5 letters)", text[:5])

Length: 18
Uppercase: HELLO DATA SCIENCE
Lowercase: hello data science
Replace 'Data' with 'Python: Hello Python Science
Split words: ['Hello', 'Data', 'Science']
Slice (first 5 letters) Hello

Exercise: Take a sentence, remove extra spaces, and split it into words.

In [15]:
text = "I am New  to Python   Programming"
print("Length:", len(text))
print("Split words:", text.split())
new_text = text.split()
# remove extra spaces in the text
cleaned_text = ' '.join(new_text)
print("Removed extra spaces:", cleaned_text)
# remove all the spaces
no_space_text = ''.join(new_text)
print("Removed all spaces:", no_space_text)

Length: 33
Split words: ['I', 'am', 'New', 'to', 'Python', 'Programming']
Removed extra spaces: I am New to Python Programming
Removed all spaces: IamNewtoPythonProgramming

Lesson 1.4: Lists, Tuples, Sets, Dictionaries
Concepts

Lists: ordered, mutable

Tuples: ordered, immutable

Sets: unordered, unique

Dictionaries: key-value pairs

In [16]:
# List 
fruits = ["apple", "banana", "mango"]
fruits.append("orange") # add
fruits.remove("banana") # remove
print("List:", fruits)

# Tuples
dimensions = (10, 20 , 30)
print("Tuple:", dimensions)

# Sets 
numbers = {1, 2, 3, 2, 5} # duplicate 2 will be removed
print("Set:", numbers)

# Dictionary
student = {"name": "Thrisha", "age": 22, "grade": "distinction"}
print("Student Name", student["name"])
student["grade"] = "High Distinction" # updating the value 
print("Updated Studnet:", student)

List: ['apple', 'mango', 'orange']
Tuple: (10, 20, 30)
Set: {1, 2, 3, 5}
Student Name Thrisha
Updated Studnet: {'name': 'Thrisha', 'age': 22, 'grade': 'High Distinction'}

Exercise: Create a dictionary for 3 books with title, author, price. Print all titles.

In [19]:
# dictionary of 3 books with title, author, price
books = {
    "book1": {"title": "Python Programming", "author": "John Doe", "price": 29.99},
    "book2": {"title": "Data Science Basics", "author": "Jane Smith", "price": 39.99},
    "book3": {"title": "Machine Learning", "author": "Alice Johnson", "price": 49.99}
}
# print all th titles of the books

for book in books.values():
    print("Book Title:", book["title"])

for book_id, book_info in books.items():
    print(f"{book_id}: {book_info['title']} by {book_info['author']} - ${book_info['price']}")

Book Title: Python Programming
Book Title: Data Science Basics
Book Title: Machine Learning
book1: Python Programming by John Doe - $29.99
book2: Data Science Basics by Jane Smith - $39.99
book3: Machine Learning by Alice Johnson - $49.99

Lesson 1.5: Loops and Conditional Statements
Concepts

for loop, while loop

if, elif, else for decisions

break, continue, pass

In [20]:
#For loop 
for i in range(1, 6):
    print("Number:", i)

# While loop
count = 0 
while count < 5:
    print("Count", count)
    count += 1

#conditional statements 

num = -7
if num > 0:
    print("Positive Number")
elif num <0:
    print("Negative Number")
else:
    print("Zero")

Number: 1
Number: 2
Number: 3
Number: 4
Number: 5
Count 0
Count 1
Count 2
Count 3
Count 4
Negative Number

Exercise: Write a loop to print only even numbers between 1 and 20.

In [24]:
# Write a loop to print only even numbers between 1 and 20.

for i in range (1, 21):
    if (i%2 == 0):
        print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
# using break continue and pass

for i in range(1, 11):
    if i == 7:
        break  # exit the loop when i is 5
    if i % 2 == 0:
        continue  # skip even numbers
    print(i)
print("for pass:")

# for pass
for i in range(1, 6):
    if i == 3:
        pass  # placeholder for future code
    print(i)
# what does pass do in python
# The pass statement is a null operation in Python. It does nothing when executed.
# It is used as a placeholder where syntactically a statement is required but no action is desired.

# In the above example, when i equals 3, the pass statement is executed.
# However, since pass does nothing, the loop continues to print all numbers from 1 to 5 without any interruption.

1
3
5
for pass:
1
2
3
4
5

Lesson 1.6: Functions and Lambda

Concepts

Functions: reusable code

Parameters, return values

Lambda: anonymous functions

In [32]:
#function 
def square(x):
    return x**2

print("Square of 5", square(5))

#Lambda Function
double = lambda x:x*2
print("Double 10:", double(10))

#explain the difference between a regular function and a lambda function in Python
# A regular function in Python is defined using the def keyword and can contain multiple statements,
# whereas a lambda function is an anonymous, single-expression function defined using the lambda keyword.
# Regular functions can have multiple lines of code and can include complex logic,
# while lambda functions are limited to a single expression and are typically used for short, simple operations.
# Regular functions have a name and can be called multiple times,
# whereas lambda functions are often used as throwaway functions and are not bound to a name unless assigned to a variable.

Square of 5 25
Double 10: 20

Exercise: Write a function that takes a number and returns "Even" or "Odd".

In [33]:
def even_or_odd(num):
    if num% 2 == 0:
        return "Even"
    else:
        return "Odd"
    
print("Even or Odd 7:", even_or_odd(7))

Even or Odd 7: Odd

Lesson 1.7: File Handling

In [34]:
# Write to a file 
with open("data.txt", "w") as file:
    file.write("Hello Data Science!\nThis is Python file handling.")

# Read from a file 
with open("data.txt", "r") as file:
    content = file.read()
    print(content)

Hello Data Science!
This is Python file handling.